<main class="main">
  <section class="container">
      <a href="article.html">
    <article class="column">
      
      <div class="article">
         
        <figure class="article-image">
            <img src="img/hyperloop-300px.jpg" srcset="img/hyperloop-150px.jpg 150w, img/hyperloop-250px.jpg 250w, img/hyperloop-300px.jpg 300w" alt="Hyperloop">
        </figure>
        <div class="article-body">
          <h2 class="article-title">
            Hyperloop
          </h2>
          
          <h4 class="article-content">
           
              A hyperloop is a proposed mode of passenger and/or freight transportation, first named as such in an open-source vactrain design released by a joint team from Tesla and SpaceX.
              Drawing heavily from Robert Goddard's vactrain...
          
        </h4>
          <footer class="article-info">
              <div>
                  <figure class="article-author">
                      <img src="img/elonk_musk-150px.jpg" srcset="img/elonk_musk-150px.jpg 150w, img/elonk_musk-250px.jpg 250w, img/elonk_musk-300px.jpg 300w" alt="Elon Muskin">
                    </figure>
                    
              </div>
            
              <div>By Elonk Muskin </div>
            <div class="publish-date" id="timeLessOneMinute"></div>
            <a href="article.html#comments" ><div class="comments-number"></div></a>
            <div   class="target" id="one"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
            <div  id="result-one" class="result-1">0</div>
          </footer>
        
        </div>
      
      </div>
     
    </article>
  </a>
  <a href="article.html">
    <article class="column">
        <div class="article" >
          <figure class="article-image">
            <img src="img/waves-300px.jpg" srcset="img/waves-150px.jpg 150w, img/waves-250px.jpg 250w, img/waves-300px.jpg 300w" alt="Waves">
          </figure>
          <div class="article-body">
            <h2 class="article-title">
                Gravitational Waves
            </h2>
            <p class="article-content">
                Gravitational waves are ripples in the universe caused by some of the most energetic cosmic events, from exploding stars to supermassive black hole mergers.
                Every object with mass creates gravitational waves. As they propagate through space and time...
              </p>
            <footer class="article-info">
                <div>
                    <figure class="article-author">
                        <img src="http://historiasinsolitas.com/imagenes/postales/1320670042.png" alt="Albert Einstein">
                      </figure>
                      
                </div>
              <div>By Albert Chainstein </div>
             
              <div class="publish-date" id="timeLessOneHour"></div>
              <a href="article.html#comments" ><div class="comments-number"></div></a>
              <div  class="target" id="two"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
              <div class="result" id="result-two">0</div>
            </footer>
          </div>
        </div>
      </article>
  </a>
  </section>
  <section class="container">
      <a href="article.html">
      <article class="column">
        <div class="article">
        <div class="article-image">
          <iframe src="https://www.youtube.com/embed/9jYKUVP49Po" ></iframe>
        </div>
          <div class="article-body">
            <h2 class="article-title">
              The Coolest Robots
            </h2>
            
            <h4 class="article-content">
                Robots can be autonomous or semi-autonomous and range from humanoids such as Honda's Advanced Step in Innovative Mobility
                 (ASIMO) and TOSY's TOSY Ping Pong Playing Robot (TOPIO) to industrial robots, medical operating robots, patient assist robots, 
                 dog therapy robots, collectively programmed swarm robots, UAV drones such as General Atomics MQ-1 Predator...
                
            
          </h4>
            <footer class="article-info">
                <div>
                    <figure class="article-author">
                        <img src="img/terminator-250px.jpeg" srcset="img/terminator-150px.jpeg 150w, img/terminator-250px.jpeg 250w, img/terminator-300px.jpeg 300w" alt="Elon Muskin">
                      </figure>
                      
                </div>
              <div>By Terminator </div>
             
              <div class="publish-date" id="timeLessOneDay"></div>
              <a href="article.html#comments" ><div class="comments-number"></div></a>
              <div  class="target" id="three"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
              <div class="result" id="result-three">0</div>
            </footer>
          </div>
        </div>
      </article>
      </a>
      <a href="article.html">
      <article class="column">
          <div class="article" >
            <figure class="article-image">
                <img src="img/anonymous-300px.jpg" alt="Anonymous" class="user" srcset="img/anonymous-150px.jpg 150w, img/anonymous-250px.jpg 250w, img/anonymous-300px.jpg 300w">
            </figure>
            <div class="article-body">
              <h2 class="article-title">
                  Awesome Hacks
              </h2>
              <p class="article-content">
                  In an age where government oppression is becoming increasing common, such groups have popped up everywhere. 
                  Anonymous is, arguably, the most famous of them. With the activity of such groups largely considered illegal 
                  but done in opposition to injustice by authorities as well as their donning such masks, Anonymous members are even considered as vigilantes by people...
              </p>
              <footer class="article-info">
                  <div>
                      <figure class="article-author">
                          <img src="img/user_icon-150px.png" alt="User icon" class="user" srcset="img/user_icon-150px.png 150w, img/user_icon-250px.png 250w, img/user_icon-300px.png 300w">
                        </figure>
                        
                  </div>
                <div>By Anonymous </div>
               
                <div class="publish-date" id="timeLessOneWeek"></div>
                <a href="article.html#comments" ><div class="comments-number"></div></a>
                <div  class="target" id="four"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                <div class="result" id="result-four">0</div>
              </footer>
            </div>
          </div>
        </article>
      </a>
    </section>
    <section class="container">
        <a href="article.html">
        <article class="column">
          <div class="article first-article">
            <figure class="article-image">
                <img src="img/dron-300px.jpg" alt="Dron icon" class="user" srcset="img/dron-150px.jpg 150w, img/dron-250px.jpg 250w, img/dron-300px.jpg 300w">
            </figure>
            <div class="article-body">
              <h2 class="article-title">
                Killer Robots
              </h2>
              
              <h4 class="article-content">
               
                  Fears of a Terminator-style arms race have already prompted leading AI researchers and Silicon Valley leaders to call for a ban on killer robots. 
                  The United Nations plans to convene its first formal meeting of experts on lethal autonomous weapons later this summer. 
                  But a simulation based on the hypothetical first battlefield use of autonomous weapons showed...
              
            </h4>
              <footer class="article-info">
                  <div>
                      <figure class="article-author">
                          <img src="img/bender-250px.jpg" alt="Bender icon" class="user" srcset="img/bender-150px.jpg 150w, img/bender-250px.jpg 250w, img/bender-300px.jpg 300w">
                      </figure>
                        
                  </div>
                <div>By Bender </div>
               
                <div class="publish-date" id="timeMoreOneWeek"></div>
                <a href="article.html#comments" ><div class="comments-number"></div></a>
                <div  class="target" id="five"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                <div class="result" id="result-five">0</div>
              </footer>
            </div>
          </div>
        </article>
        </a>
        <a href="article.html">
        <article class="column">
            <div class="article" >
              <figure class="article-image">
                  <img src="/img/hackathon-250px.png" alt="hackathon" class="user" srcset="img/hackathon-150px.png 150w, img/hackathon-250px.png 250w, img/hackathon-300px.png 300w">
              </figure>
              <div class="article-body">
                <h2 class="article-title">
                  What's hackathon?
                </h2>
                <p class="article-content">
                    A hackathon (also known as a hack day, hackfest or codefest) is a design sprint-like event 
                    in which computer programmers and others involved in software development, including graphic 
                    designers, interface designers, project managers, and others, often including subject-matter-experts, 
                    collaborate intensively on software projects. Occasionally, some hackathons...
                </p>
                <footer class="article-info">
                    <div>
                        <figure class="article-author">
                            <img src="img/user_icon-150px.png" alt="User icon" class="user" srcset="img/user_icon-150px.png 150w, img/user_icon-250px.png 250w, img/user_icon-300px.png 300w">
                          </figure>
                          
                    </div>
                  <div>By Anonymous </div>
                 
                  <div class="publish-date" id="timeLessOneMinute-2"></div>
                  <a href="article.html#comments" ><div class="comments-number"></div></a>
                  <div  class="target" id="six"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                  <div class="result" id="result-six">0</div>
                </footer>
              </div>
            </div>
          </article>
        </a>
      </section>
      <section class="container">
          <a href="article.html">
          <article class="column">
            <div class="article">
              <figure class="article-image">
                  <img src="img/driving-300px.jpg" alt="Driving" class="user" srcset="img/driving-150px.jpg 150w, img/driving-250px.jpg 250w, img/driving-300px.jpg 300w">
              </figure>
              <div class="article-body">
                  <h2 class="article-title">
                  Self-driving delivery
                </h2>
                
                <h4 class="article-content">
                 
                    Ford and Domino's are testing out a specially-equipped Ford Fusion that comes not only with self-driving technology but also an oven. 
                    It sounds cool but there is a catch -- there's no one to walk the pizza to your front door and ring the bell. 
                    That's what Ford and Domino's say they're really testing."How will customers react to coming outside to get their food?... 
                    
              </h4>
                <footer class="article-info">
                    <div>
                        <figure class="article-author">
                            <img src="img/domino-300px.jpg" alt="User icon" class="user" srcset="img/domino-150px.jpg 150w, img/domino-250px.jpg 250w, img/domino-300px.jpg 300w">
                          </figure>
                          
                    </div>
                  <div>By Mr. Domino </div>
                 
                  <div class="publish-date" id="timeLessOneHour-2"></div>
                  <a href="article.html#comments" ><div class="comments-number"></div></a>
                  <div  class="target" id="seven"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                  <div class="result" id="result-seven">0</div>
                </footer>
              </div>
            </div>
          </article>
        </a>
        <a href="article.html">
          <article class="column">
              <div class="article" >
                <figure class="article-image">
                    <img src="img/chemistry-300px.jpg" alt="chemistry"  srcset="img/chemistry-150px.jpg 150w, img/chemistry-250px.jpg 250w, img/chemistry-300px.jpg 300w">          </figure>
                <div class="article-body">
                  <h2 class="article-title">
                      Virtual chemistry
                  </h2>
                  <p class="article-content">
                      Computational chemistry is evolving rapidly, improving our ability to understand the world. 
                      This progress has sparked debate, however, about how we should use it to answer different questions, 
                      especially given the competing forces at work.For example, there is a trade-off between accuracy and 
                      speed, which leads to sometimes controversial compromises...
                  </p>
                  <footer class="article-info">
                      <div>
                          <figure class="article-author">
                              <img src="img/heisenberg-150px.jpg" alt="heisenberg"  srcset="img/heisenberg-150px.jpg 150w, img/heisenberg-250px.jpg 250w, img/heisenberg-300px.jpg 300w"> 
                          </figure>
                            
                      </div>
                    <div>By Heisenberg</div>
                   
                    <div class="publish-date" id="timeLessOneDay-2"></div>
                    <a href="article.html#comments" ><div class="comments-number"></div></a>
                    <div  class="target" id="eight"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                    <div class="result" id="result-eight">0</div>
                  </footer>
                </div>
              </div>
            </article>
          </a>
        </section>
        <section class="container">
            <a href="article.html">
            <article class="column">
              <div class="article first-article">
                <figure class="article-image ">
                    <img src="img/silicon-300px.jpg" alt="silicon"  srcset="img/silicon-150px.jpg 150w, img/silicon-250px.jpg 250w, img/silicon-300px.jpg 300w"> 
                </figure>
                <div class="article-body">
                  <h2 class="article-title">
                      One Thing Silicon Valley Can’t Seem to Fix
                  </h2>
                  
                  <h4 class="article-content">
                   
                    Silicon Valley is the only place on Earth not trying to figure out how to become Silicon Valley,” 
                    Robert Metcalfe, an inventor of the Ethernet, once wrote. Every year hundreds of people, tourists and entrepreneurs alike, 
                    come to the Bay Area hoping to “see Silicon Valley.” So much so that an article in The Mercury News last year suggested that 
                    the Valley is giving Alcatraz, the Golden Gate and the Bay Area’s other tourist attractions a run for their money.
                    
                  
                </h4>
                  <footer class="article-info">
                      <div>
                          <figure class="article-author">
                              <img src="img/erlich-150px.jpg" alt="erlich"  srcset="img/erlich-150px.jpg 150w, img/erlich-250px.jpg 250w, img/erlich-300px.jpg 300w"> 
                            </figure>
                            
                      </div>
                    <div>By Erlich Batman</div>
                   
                    <div class="publish-date" id="timeLessOneWeek-2"></div>
                    <a href="article.html#comments" ><div class="comments-number"></div></a>
                    <div  class="target" id="nine"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                    <div class="result" id="result-nine">0</div>
                  </footer>
                </div>
              </div>
            </article>
          </a>
          <a href="article.html">
            <article class="column">
                <div class="article" >
                  <figure class="article-image">
                      <img src="img/reality-300px.jpg" alt="reality"  srcset="img/reality-150px.jpg 150w, img/reality-250px.jpg 250w, img/reality-300px.jpg 300w"> 
                             </figure>
                  <div class="article-body">
                    <h2 class="article-title">
                        AR on Android phones
                    </h2>
                    <p class="article-content">
                        Google wants to bring something else to the masses: augmented reality, or AR. 
                        On Tuesday, the company announced ARCore, a set of tools that lets software developers 
                        build AR experiences for Android, Google's mobile operating system. For this SDK launch, 
                        there are just two supported ARCore devices: the Google Pixel and Samsung Galaxy S8. 
                        Going forward, Google's blog post says it's "working with manufacturers like Samsung, 
                        LG, Huawei, ASUS, and other...
                    </p>
                    <footer class="article-info">
                        <div>
                            <figure class="article-author">
                                <img src="img/sundar-150px.jpg" alt="sundar"  srcset="img/sundar-150px.jpg 150w, img/sundar-250px.jpg 250w, img/sundar-300px.jpg 300w"> 
                                  </figure>
                              
                        </div>
                      <div>By Sunday Pichai </div>
                     
                      <div class="publish-date" id="timeMoreOneWeek-2"></div>
                      <a href="article.html#comments" ><div class="comments-number"></div></a>
                      <div  class="target" id="ten"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></div>
                      <div class="result" id="result-ten">0</div>
                    </footer>
                  </div>
                </div>
              </article>
            </a>
          </section>
  
          <div class="page" > <p>Page 1|2|3 </p></div>
          
</main>
