<header class="web-header" id="web-header">
    <h1 class="web-title">Enterum</h1> 
</header>
<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item active">
            <a href="index.html" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
            <a href="#popular" class="navbar-link">Popular on Enterum</a>
        </li>
        <li class="navbar-item">
            <a href="#technology" class="navbar-link">Technology</a>
        </li>
        <li class="navbar-item">
            <a href="#music" class="navbar-link">Music</a>
        </li>
        <li class="navbar-item">
                <a href="#login" class="navbar-link">Log in</a>
        </li>
        <li class="navbar-item">
                <a href="#sign-in" class="navbar-link">Sign in</a>
        </li>
        <li>
        <button class="nav-button">&#9776</button>
         </li>
      
        
    </ul>
</nav>
   <form class="search-form" novalidate> 
            <div class="form-control-group">
                <input type="text" id="search" name="search" placeholder="Search..." required>
            </div>
            <div class="form-control-group">  
                <button class="search-button">Search</button>
            </div>
        </form>



